@using LocalDropshipping.Web.Data.Entities;
@model AddProductViewModel;
@{
    ViewData["Title"] = "Add new Product";
}

    <div class="page-body">
        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            @using (Html.BeginForm("SubmitForm", "Product", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Information</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">
                                                Product Name
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Product Name" })
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">
                                                Is Featured
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.IsFeatured, new { @class = "form-control", placeholder = "Is Featured" })
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">
                                                Category ID
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.CategoryId, new { @class = "form-control", placeholder = "Category Id" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Description Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Description</h5>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <label class="form-label-title col-sm-3 mb-0">
                                                        Product Description
                                                    </label>
                                                    <div class="col-sm-9">
                                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Product Description" })
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Product Images Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Images</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">
                                                Image URL
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.ImageLink, new { @class = "form-control", placeholder = "Image URL" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Product Price Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Price</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Price</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", placeholder = "0" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Product Inventory Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Inventory</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Stock</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary mt-3">Add Product</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Product Add End -->
    </div>
