@model IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>
@using LocalDropshipping.Web.Data.Entities;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "FOCFulFillment - Cart";

    Layout = "_Layout";
    var data = Context.Session.GetString("cart");
    int countCart = 0;
    if (data == null)
    {
        countCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<OrderItem> dataCart = JsonConvert.DeserializeObject<List<OrderItem>>(data2);
        countCart = dataCart.Count();
    }

}
<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain">
                    <h2>Cart</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a asp-controller="Seller" asp-action="Cart">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Cart Section Start -->
@if (Model != null && countCart != 0)
{
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3 ">
                <div class="col-xxl-9">
                    <div class="cart-table ">
                        <div class="table-responsive-xl cart-blank-data text-center">
                            <table class="table cart-table-data border-0">
                                <tbody>
                                    @foreach (var cart in Model)
                                    {

                                        <tr class="product-box-contain">
                                            <td class="product-detail border-0">
                                                <div class="product border-0">
                                                    <a href="product-left-thumbnail.html" class="product-image">
                                                        <img src="@cart.Image"
                                                             class="img-fluid blur-up lazyload" alt="">
                                                    </a>

                                                </div>
                                            </td>
                                            <td class="product-detail border-0">
                                                <h4 class="table-title text-content">Name</h4>
                                                <div class="product border-0">
                                                    <div class="product-detail" style="margin-left:0px;">
                                                        <ul>
                                                            <li class="name" style="width:310px; text-overflow:ellipsis; overflow:hidden">
                                                                <a href="product-left-thumbnail.html">@cart.Name</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>


                                            <td class="price border-0">
                                                <h4 class="table-title text-content">Price</h4>
                                                <h5 class="text-center">Rs @cart.Price/- </h5>
                                            </td>

                                            <td class="quantity border-0">
                                                <h4 class="table-title text-content">Qty</h4>
                                                <div class="quantity-price">
                                                    <div class="cart_qty">
                                                        <div class="input-group">
                                                            <button type="button" data-id="@cart.ProductId" class="btn qty-left-minus"
                                                                    data-type="minus" data-field="">
                                                                <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                            </button>
                                                            <input class="form-control input-number qty-input" type="text"
                                                                   name="quantity" value="@cart.Quantity" disabled>
                                                            <button type="button" data-id="@cart.ProductId" class="btn qty-right-plus"
                                                                    data-type="plus" data-field="">
                                                                <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="subtotal border-0">
                                                <h4 class="table-title text-content">Total</h4>
                                                <h5>Rs @cart.SubTotal/-</h5>
                                            </td>

                                            <td class="save-remove border-0">
                                                <h4 class="table-title text-content">Action</h4>
                                                @Html.ActionLink("Remove", "RemoveFromCart", "Seller", new { id = @cart.ProductId }, new { @class = "remove close_button" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header cart-table-data">
                            <h3>Cart Total</h3>
                        </div>

                        <div class="summery-contain cart-table-data">
                            <ul>
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price costOfAllitems">Rs @ViewBag.total/-</h4>
                                </li>
                                <li class="align-items-start">
                                    <h4>Shipping</h4>
                                    <h4 class="price text-end">Rs @ViewBag.shipping/-</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total cart-table-data">
                            <li class="list-total border-top-0">
                                <h4>Total</h4>
                                <h4 class="price theme-color totalCostwithShipping">Rs @ViewBag.totalCost/-</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li class="cart-table-data">
                                    <button onclick="location.href = 'checkout.html';"
                                            class="btn btn-primary proceed-btn fw-bold">
                                        <a asp-controller="Seller" asp-action="Checkout" style="color:white">Process To Checkout</a>
                                    </button>
                                </li>
                                <li>

                                </li>

                                <li>
                                    <button class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i><a asp-controller="Seller" asp-action="Shop">Return To Shopping</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <h4 class="text-center">No Items in the Cart. Please select item first</h4>

                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button class="btn btn-light shopping-button text-dark">
                                        <a asp-controller="Seller" asp-action="Shop"> <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- Cart Section End -->
<script type="text/javascript">
    $(".qty-right-plus").click(function () {
        var itemId = $(this).data("id");
        var buttonClicked = $(this);
        var formData = new FormData();
        formData.append("id", itemId)
        // alert(formData);
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                url: "/Seller/AddToCart",
                success: function (data) {
                    if (data.success) {
                        $('.cartItem').text(data.counter);
                        var subtotalCell = buttonClicked.closest("tr").find(".subtotal h5");
                        subtotalCell.text("Rs " + data.newSubtotal + "/-");
                        $(".costOfAllitems").text("Rs " + data.totalCost + "/-");

                        $(".totalCostwithShipping").text("Rs " + data.grandTotal + "/-");
                    }
                },
                error: function () {
                    alert("Please Select Positive Quantity");
                }
            }
        );
        return false;
    });
    $(".qty-left-minus").click(function () {
        var itemId = $(this).data("id");
        var buttonClicked = $(this);
        if (itemId > 0) {
            var formData = new FormData();
            formData.append("id", itemId)
            $.ajax(
                {
                    async: true,
                    type: "post",
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: "/Seller/Minus",
                    success: function (data) {
                        if (data.success) {
                            $('.cartItem').text(data.counter);
                            if (data.newQuantity === 0) {
                                buttonClicked.closest('tr').remove();
                            }
                            if (data.counter === 0) {
                                $(".cart-table-data").remove();
                                $(".cart-blank-data").html("<h4>No Items in the Cart. Please select item first!</h4>");
                            }
                            var subtotalCell = buttonClicked.closest("tr").find(".subtotal h5");
                            subtotalCell.text("Rs " + data.newSubtotal + "/-");
                            $(".costOfAllitems").text("Rs " + data.totalCost + "/-");
                            $(".totalCostwithShipping").text("Rs " + data.grandTotal + "/-");
                        }
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }

                }
            );
        }

        return false;
    });
    $(".cartBtn").mouseover(function () {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/Seller/GetCartItems',
            success: function (data) {
                $('#exampleModal').html(data);
                $('#exampleModal').modal({
                    backdrop: false
                });
            },
            error: function (data) {
                alert("Cart is Empty");
            }
        });
    });
</script>
<!-- Log Out Modal Start -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                <p>Are you sure you want to log out?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <form asp-action="SellerLogout" asp-controller="Seller">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                        <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tap to top end -->
<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->
<!-- latest jquery-->
