@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models;
@using Newtonsoft.Json;
@using static IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>
@model LocalDropshipping.Web.Models.CheckoutViewModel
@{
    ViewBag.Title = "FOCFulFillment - Checkout";
    Layout = "_Layout";
    var currentuser = TempData["currentUser"];
}
@{
    var data = Context.Session.GetString("cart");
    List<OrderItem> cartItems;
    int countCart = 0;
    if (data == null)
    {
        countCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<OrderItem> dataCart = JsonConvert.DeserializeObject<List<OrderItem>>(data2);
        countCart = dataCart.Count();

    }

}
@* 
<!DOCTYPE html>
<html lang="en"> *@


@* <body> *@

    <!-- Header Start -->
    
    <!-- Header End -->
    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Checkout</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Seller" asp-action="Cart">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Checkout section Start -->
    @if (Model.Cart != null && countCart !=0)
    {
        <form asp-action="PlaceOrder" asp-controller="Seller" method="post">
            <section class="checkout-section-2 section-b-space">
                <div class="container-fluid-lg">
                    <div class="row g-sm-4 g-3">
                        <div class="col-lg-8">
                            <div class="left-sidebar-checkout">
                                <div class="checkout-detail-box">
                                    <ul>
                                        <li>
                                            <div class="checkout-icon">
                                                <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                                           trigger="loop-on-hover"
                                                           colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                                           class="lord-icon">
                                                </lord-icon>
                                            </div>
                                            <div class="checkout-box">
                                                <div class="checkout-title">
                                                    <h4>Seller Details</h4>
                                                </div>

                                                <div class="checkout-detail">
                                                    <div class="row g-4">
                                                        <div class="col-xxl-6 col-lg-12 col-md-6">
                                                            <div class="delivery-address-box">
                                                                <div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="jack"
                                                                               id="flexRadioDefault1" checked>
                                                                    </div>

                                                                    <ul class="delivery-address-detail">
                                                                        <li>
                                                                            <h4 class="fw-500">@ViewBag.currentUser.Fullname</h4>
                                                                        </li>

                                                                        <li>
                                                                            <p class="text-content">
                                                                                <span class="text-title">
                                                                                    Email
                                                                                    :
                                                                                </span>@ViewBag.currentUser.Email
                                                                            </p>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-12" style="margin-top:15px">
                                                                    <div class="form-floating theme-form-floating" style="width:100%">
                                                                        <input type="number" asp-for="@Model.SellingPrice" class="form-control" required />
                                                                        <label for="@Model.SellingPrice">Selling Price</label>
                                                                        <span asp-validation-for="@Model.SellingPrice" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="checkout-title" style="margin-top:10px">
                                                    <h4>Customer Details</h4>
                                                </div>

                                                <div class="checkout-detail">
                                                    <div class="row g-4">
                                                        <div class="col-xxl-6 col-lg-12 col-md-6">
                                                            <div class="delivery-address-box">
                                                                <div>
                                                                    <div class="row g-4">
                                                                        <div class="col-12">
                                                                            <div class="form-floating theme-form-floating">
                                                                                <input type="text" asp-for="@Model.FullName" class="form-control" placeholder="Full Name" required />
                                                                                <label>Full Name</label>
                                                                                <span asp-validation-for="@Model.FullName" class="text-danger"></span>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-floating theme-form-floating">
                                                                                <input type="number" asp-for="@Model.PrimaryPhoneNumber" class="form-control" placeholder="Primary Phone No" required />
                                                                                <label>Primary Phone No</label>
                                                                                <span asp-validation-for="@Model.PrimaryPhoneNumber" class="text-danger"></span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12">
                                                                            <div class="form-floating theme-form-floating">
                                                                                <input type="number" asp-for="@Model.SecondaryPhoneNumber" class="form-control" placeholder="Secondary Phone No (Optional)" />
                                                                                <label>Secondary Phone No</label>
                                                                                @* <span asp-validation-for="@Model.SecondaryPhoneNumber" class="text-danger"></span> *@
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12">
                                                                            <div class="form-floating theme-form-floating">
                                                                                <input type="text" asp-for="@Model.Address" placeholder="Address" class="form-control" required />
                                                                                <label>Address</label>
                                                                                <span asp-validation-for="@Model.Address" class="text-danger"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-floating theme-form-floating">
                                                                                <input type="text" asp-for="@Model.City" placeholder="City" class="form-control" required />
                                                                                <label>City</label>
                                                                                <span asp-validation-for="@Model.City" class="text-danger"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkout-icon">
                                                <lord-icon target=".nav-item" src="https://cdn.lordicon.com/oaflahpk.json"
                                                           trigger="loop-on-hover" colors="primary:#0baf9a" class="lord-icon">
                                                </lord-icon>
                                            </div>
                                            <div class="checkout-box">
                                                <div class="checkout-title">
                                                    <h4>Delivery Option</h4>
                                                </div>

                                                <div class="checkout-detail">
                                                    <div class="row g-4">
                                                        <div class="col-xxl-6">
                                                            <div class="delivery-option">
                                                                <div class="delivery-category">
                                                                    <div class="shipment-detail">
                                                                        <div class="form-check custom-form-check hide-check-box">
                                                                            <input class="form-check-input" type="radio"
                                                                                   name="standard" id="standard" checked>
                                                                            <label class="form-check-label"
                                                                                   for="standard">
                                                                                Standard
                                                                                Delivery Option
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 future-box">
                                                            <div class="future-option">
                                                                <div class="row g-md-0 gy-4">
                                                                    <div class="col-md-6">
                                                                        <div class="delivery-items">
                                                                            <div>
                                                                                <h5 class="items text-content">
                                                                                    <span>
                                                                                        3
                                                                                        Items
                                                                                    </span>
                                                                                    $693.48
                                                                                </h5>
                                                                                <h5 class="charge text-content">
                                                                                    Delivery Charge
                                                                                    $34.67
                                                                                    <button type="button" class="btn p-0"
                                                                                            data-bs-toggle="tooltip"
                                                                                            data-bs-placement="top"
                                                                                            title="Extra Charge">
                                                                                        <i class="fa-solid fa-circle-exclamation"></i>
                                                                                    </button>
                                                                                </h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkout-icon">
                                                <lord-icon target=".nav-item" src="https://cdn.lordicon.com/qmcsqnle.json"
                                                           trigger="loop-on-hover" colors="primary:#0baf9a,secondary:#0baf9a"
                                                           class="lord-icon">
                                                </lord-icon>
                                            </div>
                                            <div class="checkout-box">
                                                <div class="checkout-title">
                                                    <h4>Payment Option</h4>
                                                </div>

                                                <div class="checkout-detail">
                                                    <div class="accordion accordion-flush custom-accordion"
                                                         id="accordionFlushExample">
                                                        <div class="accordion-item">
                                                            <div class="accordion-header" id="flush-headingFour">
                                                                <div class="accordion-button collapsed"
                                                                     data-bs-toggle="collapse"
                                                                     data-bs-target="#flush-collapseFour">
                                                                    <div class="custom-form-check form-check mb-0">
                                                                        <label class="form-check-label" for="cash">
                                                                            <input class="form-check-input mt-0" type="radio"
                                                                                   name="flexRadioDefault" id="cash" checked> Cash
                                                                            On Delivery
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="flush-collapseFour"
                                                                 class="accordion-collapse collapse show"
                                                                 data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">
                                                                    <p class="cod-review">
                                                                        Pay digitally with SMS Pay
                                                                        Link. Cash may not be accepted in COVID restricted
                                                                        areas. <a href="javascript:void(0)">Know more.</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="right-side-summery-box">
                                <div class="summery-box-2">
                                    <div class="summery-header">
                                        <h3>Order Summery</h3>
                                    </div>

                                    <ul class="summery-contain">
                                        @foreach (var cart in Model.Cart)
                                        {

                                            <li>
                                                <img src="@cart.Image"
                                                     class="img-fluid blur-up lazyloaded checkout-image" alt="">
                                                <h4>@cart.Name <span>X @cart.Quantity</span></h4>
                                                <h4 class="price">Rs @cart.SubTotal/-</h4>
                                            </li>
                                        }
                                    </ul>

                                    <ul class="summery-total">
                                        <li>
                                            <h4>Subtotal</h4>
                                            <h4 class="price">Rs @ViewBag.total/-</h4>
                                        </li>

                                        <li>
                                            <h4>Shipping</h4>
                                            <h4 class="price">Rs @ViewBag.shipping/-</h4>
                                        </li>

                                        <li class="list-total">
                                            <h4>Total</h4>
                                            <h4 class="price">Rs @ViewBag.totalCost/-</h4>
                                        </li>
                                    </ul>
                                </div>

                                <button type="submit" class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    }
    else
    {
        <section class="cart-section section-b-space">
            <div class="container-fluid-lg">
                <div class="row g-sm-5 g-3">
                    <div class="col-xxl-9">
                        <div class="cart-table">
                            <div class="table-responsive-xl">
                                <h4 class="text-center">No Items in the Cart. Please select item first</h4>

                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3">
                        <div class="summery-box p-sticky">
                            <div class="button-group cart-button">
                                <ul>
                                    <li>
                                        <button class="btn btn-light shopping-button text-dark">
                                            <a asp-controller="Seller" asp-action="Shop"><i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</a>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <!-- Checkout section End -->
    <!-- Footer Section Start -->
    
    <!-- Footer Section End -->
    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                    <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="location-list">
                        <div class="search-input">
                            <input type="search" class="form-control" placeholder="Search Your Area">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="disabled-box">
                            <h6>Select a Location</h6>
                        </div>

                        <ul class="location-select custom-height">
                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Alabama</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Arizona</h6>
                                    <span>Min: $150</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>California</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Colorado</h6>
                                    <span>Min: $140</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Florida</h6>
                                    <span>Min: $160</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Georgia</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Kansas</h6>
                                    <span>Min: $170</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Minnesota</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>New York</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Washington</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->
    <!-- Add address modal box start -->
    <div class="modal fade theme-modal" id="add-address" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Add a new address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
                            <label for="fname">First Name</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                            <label for="lname">Last Name</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="email" class="form-control" id="email" placeholder="Enter Email Address">
                            <label for="email">Email Address</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="address"
                                      style="height: 100px"></textarea>
                            <label for="address">Enter Address</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="email" class="form-control" id="pin" placeholder="Enter Pin Code">
                            <label for="pin">Pin Code</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn theme-bg-color btn-md text-white" data-bs-dismiss="modal">
                        Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add address modal box end -->
    <!-- Deal Box Modal Start -->
    <div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                        <p class="mt-1 text-content">Recommended deals for you.</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="deal-offer-box">
                        <ul class="deal-offer-list">
                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-2">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-3">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Box Modal End -->
    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Lordicon Js -->
    <script src="../assets/js/lusqsztk.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Delivery Option js -->
    <script src="../assets/js/delivery-option.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="../assets/js/quantity.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="../assets/js/theme-setting.js"></script>
    <script>
        $(".cartBtn").mouseover(function () {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Seller/GetCartItems',
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#exampleModal').modal({
                        backdrop: false
                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
    </script>
@* </body>
</html> *@