@using LocalDropshipping.Web.Data.Entities;
@using static IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>
@model List<Product>;
@{
    Layout = "~/Views/Shared/ShopPage.cshtml";
    ViewData["Title"] = "FOCFulFillment - Product Listing";
}

@* <!DOCTYPE htm"viewport" content="width=device-width" /> *@
@* <head>
	<title>@ViewBag.Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Fastkart">
	<meta name="keywords" content="Fastkart">
	<meta name="author" content="Fastkart">	
	<link rel="icon" href="../assets/images/favicon/6.png" type="image/x-icon">
	<title>On-demand last-mile delivery</title>

	<!-- Google font -->
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
		  rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
		  rel="stylesheet">

	<!-- bootstrap css -->
	<link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

	<!-- wow css -->
	<link rel="stylesheet" href="../assets/css/animate.min.css" />
	<link href="~/css/site.css" rel="stylesheet" />

	<!-- font-awesome css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">

	<!-- feather icon css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">

	<!-- slick css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick-theme.css">

	<!-- Iconly css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">

	<!-- Template css -->
	<link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<!-- latest jquery-->
	<script src="../assets/js/jquery-3.6.0.min.js"></script>

	<!-- jquery ui-->
	<script src="../assets/js/jquery-ui.min.js"></script>
</head> *@
@* <body> *@
@* <header class="pb-md-4 pb-0">
        <div class="header-top">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-xxl-3 d-xxl-block d-none">
                        <div class="top-left-header">
                            <i class="iconly-Location icli text-white"></i>
                            <span class="text-white">1418 Riverwood Drive, CA 96052, US</span>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                        <div class="header-offer">
                            <div class="notification-slider slick-initialized slick-slider slick-vertical">
                                <div class="slick-list draggable" style="height: 18.375px;"><div class="slick-track" style="opacity: 1; height: 92px; transform: translate3d(0px, -18px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 863px;">
                                    <div class="timer-notification">
                                        <h6>
                                            Something you love is now on sale!
                                            <a href="shop-left-sidebar.html" class="text-white" tabindex="-1">
                                                Buy Now
                                                !
                                            </a>
                                        </h6>
                                    </div>
                                </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 863px;">
                                    <div class="timer-notification">
                                        <h6>
                                            <strong class="me-1">Welcome to Fastkart!</strong>Wrap new offers/gift
                                            every signle day on Weekends.<strong class="ms-1">
                                                New Coupon Code: Fast024
                                            </strong>

                                        </h6>
                                    </div>
                                </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 863px;">
                                    <div class="timer-notification">
                                        <h6>
                                            Something you love is now on sale!
                                            <a href="shop-left-sidebar.html" class="text-white" tabindex="-1">
                                                Buy Now
                                                !
                                            </a>
                                        </h6>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="2" id="" aria-hidden="true" tabindex="-1" style="width: 863px;">
                                    <div class="timer-notification">
                                        <h6>
                                            <strong class="me-1">Welcome to Fastkart!</strong>Wrap new offers/gift
                                            every signle day on Weekends.<strong class="ms-1">
                                                New Coupon Code: Fast024
                                            </strong>

                                        </h6>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 863px;">
                                    <div class="timer-notification">
                                        <h6>
                                            Something you love is now on sale!
                                            <a href="shop-left-sidebar.html" class="text-white" tabindex="-1">
                                                Buy Now
                                                !
                                            </a>
                                        </h6>
                                    </div>
                                </div></div></div>

                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <ul class="about-list right-nav-about">
                            <li class="right-nav-list">
                                <div class="dropdown theme-form-select">
                                    <button class="btn dropdown-toggle" type="button" id="select-language" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="../assets/images/country/united-states.png" class="img-fluid blur-up lazyloaded" alt="">
                                        <span>English</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="select-language">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="english">
                                                <img src="../assets/images/country/united-kingdom.png" class="img-fluid blur-up lazyload" alt="">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="france">
                                                <img src="../assets/images/country/germany.png" class="img-fluid blur-up lazyload" alt="">
                                                <span>Germany</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="chinese">
                                                <img src="../assets/images/country/turkish.png" class="img-fluid blur-up lazyload" alt="">
                                                <span>Turki</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="right-nav-list">
                                <div class="dropdown theme-form-select">
                                    <button class="btn dropdown-toggle" type="button" id="select-dollar" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span>USD</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end sm-dropdown-menu" aria-labelledby="select-dollar">
                                        <li>
                                            <a class="dropdown-item" id="aud" href="javascript:void(0)">AUD</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" id="eur" href="javascript:void(0)">EUR</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" id="cny" href="javascript:void(0)">CNY</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-nav top-header sticky-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                                <span class="navbar-toggler-icon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <a href="index.html" class="web-logo nav-logo">
                                <img src="../assets/images/logo/1.png" class="img-fluid blur-up lazyloaded" alt="">
                            </a>

                            <div class="middle-box">
                                <div class="location-box" style="padding:12px 25px; background:#0da487;">
										<button class="btn location-button">
										<a asp-action="Shop" asp-controller="Seller" id="Colour" style="color:white">Shop</a>
										</button>
								</div>

                                <div class="search-box">
                                    <div class="input-group">
										<form asp-controller="Seller" asp-action="FilterPage" method="get" class="d-flex mb-0">
                                        <input type="search" name="searchString" class="form-control" placeholder="I'm searching for..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn bg-theme" type="submit" id="button-addon2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
										</form>
                                    </div>
                                </div>
                            </div>

                            <div class="rightside-box">
									<div class="search-full">
										<div class="input-group">
											<span class="input-group-text">
												<i data-feather="search" class="font-light"></i>
											</span>
											<input type="text" class="form-control search-type" placeholder="Search here..">
											<span class="input-group-text close-search">
												<i data-feather="x" class="font-light"></i>
											</span>
										</div>
									</div>
									<ul class="right-side-menu">
										<li class="right-side">
											<div class="delivery-login-box">
												<div class="delivery-icon">
													<div class="search-box">
														<i data-feather="search"></i>
													</div>
												</div>
											</div>
										</li>
										<li class="right-side">
											<a href="contact-us.html" class="delivery-login-box">
												<div class="delivery-icon">
													<i data-feather="phone-call"></i>
												</div>
												<div class="delivery-detail">
													<h6>24/7 Delivery</h6>
													<h5>+92 320 1234567</h5>
												</div>
											</a>
										</li>
										<li class="right-side">
											<a href="wishlist.html" class="btn p-0 position-relative header-wishlist">
												<i data-feather="heart"></i>
											</a>
										</li>
										@Html.Partial("_ShoppingCart")
										
										<li class="right-side onhover-dropdown">
											<div class="delivery-login-box">
												<div class="delivery-icon">
													<i data-feather="user"></i>
												</div>
												<div class="delivery-detail">
													<h6>Hello,</h6>
													<h5>My Account</h5>
												</div>
											</div>

											<div class="onhover-div onhover-div-login">
												<ul class="user-box-name">
													<li class="product-box-contain">
														<i></i>
														<a href="login.html">Log In</a>
													</li>

													<li class="product-box-contain">
														<a href="sign-up.html">Register</a>
													</li>

													<li class="product-box-contain">
														<a href="forgot.html">Forgot Password</a>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> 
<div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li class="active">
                <a href="index.html">
                    <i class="iconly-Home icli"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="mobile-category">
                <a href="javascript:void(0)">
                    <i class="iconly-Category icli js-link"></i>
                    <span>Category</span>
                </a>
            </li>

            <li>
                <a href="search.html" class="search-box">
                    <i class="iconly-Search icli"></i>
                    <span>Search</span>
                </a>
            </li>

            <li>
                <a href="wishlist.html" class="notifi-wishlist">
                    <i class="iconly-Heart icli"></i>
                    <span>My Wish</span>
                </a>
            </li>

            <li>
                <a href="cart.html">
                    <i class="iconly-Bag-2 icli fly-cate"></i>
                    <span>Cart</span>
                </a>
            </li>
        </ul>
    </div>
    *@
<!-- Breadcrumb Section Start -->
<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain">
                    <h2>Shop Left Sidebar</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Poster Section Start -->
<section>
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="slider-1 slider-animate product-wrapper no-arrow">
                    <div>
                        <div class="banner-contain-2 hover-effect">
                            <img src="../assets/images/shop/1.jpg" class="bg-img rounded-3 blur-up lazyload" alt="">
                            <div class="banner-detail p-center-right position-relative shop-banner ms-auto banner-small">
                                <div>
                                    <h2>Healthy, nutritious & Tasty Fruits & Veggies</h2>
                                    <h3>Save upto 50%</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="banner-contain-2 hover-effect">
                            <img src="../assets/images/shop/1.jpg" class="bg-img rounded-3 blur-up lazyload" alt="">
                            <div class="banner-detail p-center-right position-relative shop-banner ms-auto banner-small">
                                <div>
                                    <h2>Healthy, nutritious & Tasty Fruits & Veggies</h2>
                                    <h3>Save upto 50%</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="banner-contain-2 hover-effect">
                            <img src="../assets/images/shop/1.jpg" class="bg-img rounded-3 blur-up lazyload" alt="">
                            <div class="banner-detail p-center-right position-relative shop-banner ms-auto banner-small">
                                <div>
                                    <h2>Healthy, nutritious & Tasty Fruits & Veggies</h2>
                                    <h3>Save upto 50%</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Poster Section End -->
<!-- Shop Section Start -->
<section class="section-b-space shop-section">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-custome-3">
                <div class="left-box wow fadeInUp">
                    <div class="shop-left-sidebar">
                        <div class="back-button">
                            <h3><i class="fa-solid fa-arrow-left"></i> Back</h3>
                        </div>

                        <div class="filter-category">
                            <div class="filter-title">
                                <h2>Filters</h2>
                                <a href="javascript:void(0)">Clear All</a>
                            </div>
                            
                        </div>

                        <div class="accordion custome-accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span>Categories</span>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne">
                                    <div class="accordion-body">
                                        <div class="form-floating theme-form-floating-2 search-box">
                                            <input type="search" class="form-control" id="search"
                                                   placeholder="Search ..">
                                            <label for="search">Search</label>
                                        </div>

                                        <ul class="category-list custom-padding custom-height">
                                            @foreach (var category in ViewBag.categories)
                                            {
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input class="checkbox_animated" type="checkbox" id="fruit">
                                                        <label class="form-check-label" for="fruit">
                                                            <span class="name">@category.Name</span>
                                                            
                                                        </label>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span>Price</span>
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse show"
                                         aria-labelledby="headingThree">
                                        <div class="accordion-body">
                                            <div class="range-slider">
                                                <input type="text" class="js-range-slider" value="">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-custome-9">
                <div class="show-button">
                    <div class="filter-button-group mt-0">
                        <div class="filter-button d-inline-block d-lg-none">
                            <a><i class="fa-solid fa-filter"></i> Filter Menu</a>
                        </div>
                    </div>

                    <div class="top-filter-menu">
                        <div class="category-dropdown">
                            <h5 class="text-content">Sort By :</h5>
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown">
                                    <span>Most Popular</span> <i class="fa-solid fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" id="low" href="?sortProduct=@ViewBag.PriceSortParmAsc&searchString=@ViewBag.Currentfilter">
                                            Low - High
                                            Price
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="high" href="?sortProduct=@ViewBag.PriceSortParmDesc&searchString=@ViewBag.Currentfilter">
                                            High - Low
                                            Price
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="aToz" href="?sortProduct=@ViewBag.NameSortParmAz&searchString=@ViewBag.Currentfilter">A - Z Order</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="zToa" href="?sortProduct=@ViewBag.NameSortParmZa&searchString=@ViewBag.Currentfilter">Z - A Order</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="grid-option d-none d-md-block">
                            <ul>
                                <li class="three-grid">
                                    <a href="javascript:void(0)">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-3.svg" class="blur-up lazyload" alt="">
                                    </a>
                                </li>
                                <li class="grid-btn d-xxl-inline-block d-none active">
                                    <a href="javascript:void(0)">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-4.svg"
                                             class="blur-up lazyload d-lg-inline-block d-none" alt="">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid.svg"
                                             class="blur-up lazyload img-fluid d-lg-none d-inline-block" alt="">
                                    </a>
                                </li>
                                <li class="list-btn">
                                    <a href="javascript:void(0)">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/list.svg" class="blur-up lazyload" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row g-sm-4 g-3 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-3 row-cols-2 product-list-section">
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var product in Model)
                        {
                            <div>
                                <div class="product-box-3 h-100 wow fadeInUp">
                                    <div class="product-header">
                                        <div class="product-image">
                                            <a href="product-left-thumbnail.html">
                                                <img src="@product.Variants.First().FeatureImageLink"
                                                     class="img-fluid blur-up lazyload" alt="">
                                            </a>

                                            <ul class="product-option">
                                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                       data-bs-target="#view">
                                                        <i data-feather="eye"></i>
                                                    </a>
                                                </li>

                                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                                    <a href="compare.html">
                                                        <i data-feather="refresh-cw"></i>
                                                    </a>
                                                </li>

                                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                                    <a href="wishlist.html" class="notifi-wishlist">
                                                        <i data-feather="heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-footer">
                                        <div class="product-detail">
                                            <span class="span-name">@product.Category!.Name</span>
                                            <a href="product-left-thumbnail.html">
                                                <h5 class="name">@product.Name</h5>
                                            </a>
                                            <p class="text-content mt-1 mb-2 product-content">
                                                @product.Description
                                            </p>

                                            <h5 class="price">
                                                <span class="theme-color">Rs @product.Variants.FirstOrDefault().VariantPrice /-</span>
                                            </h5>
                                            <div class="add-to-cart-box bg-white">
                                                <button class="btn btn-add-cart addcart-button qty-right-plus" data-id="@product.ProductId">
                                                    Add
                                                    <span class="add-icon bg-light-gray">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </span>
                                                </button>
                                                <div class="cart_qty qty-box">
                                                    <div class="input-group bg-white">
                                                        <button type="button" class="qty-left-minus bg-gray"
                                                                data-type="minus" data-field="" data-id="@product.ProductId">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input" type="text"
                                                               name="quantity" value="0" disabled>
                                                        <button type="button" class="qty-right-plus bg-gray"
                                                                data-type="plus" data-field="" data-id="@product.ProductId">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <h3>No records find related to your query</h3>
                        </div>
                    }                
                    </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".qty-right-plus").click(function () {
            var itemId = $(this).data("id");
            var formData = new FormData();
            formData.append("id", itemId)
            $.ajax(
                {
                    async: true,
                    type: "post",
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: "/Seller/AddToCart",
                    success: function (data) {

                        if (data.success) {
                            $('.cartItem').text(data.counter);
                        }
                    },
                    error: function () {
                        alert("Please Select Positive Quantity");
                    }

                }
            );
            return false;
        });

        $(".btnWishList").click(function () {
            var th=$(this);
            var productId = $(this).attr("productId");
            $.ajax(
                {
                    async: true,
                    type: "post",
                    contentType: false,
                    processData: false,
                    //data: JSON.stringify(productId: productId),
                    url: "/Seller/WishList?productId=" + productId,
                    success: function (data) {
                        if (data.success) {
                            $('.cartItem').text(data.counter);
                        }

                    },
                    error: function () {
                        alert("Please Select Positive Quantity");
                    }
                }
            );
            return false;
        });

        $(".qty-left-minus").click(function () {
            var itemId = $(this).data("id");
            if (itemId > 0) {
                var formData = new FormData();
                formData.append("id", itemId)
                $.ajax(
                    {
                        async: true,
                        type: "post",
                        contentType: false,
                        processData: false,
                        data: formData,
                        url: "/Seller/Minus",
                        success: function (data) {
                            debugger;
                            if (data.success) {
                                $('.cartItem').text(data.counter);
                            }
                            else {
                                alert('Please select positive quantity')
                            }
                        },
                        error: function (data) {

                            alert("Error while inserting data");
                        }
                    }
                );
            }
            return false;
        });

        $(".cartBtn").mouseover(function () {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Seller/GetCartItems',
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#exampleModal').modal({
                        backdrop: false
                    });
                },
                error: function (data) {
                    alert("Error is facing for fetching data");
                }
            });
        });


    </script>
</section>
@* <footer class="footer-sm">
		<div class="container-fluid-xs">
			<div class="sub-footer">
				<div class="reserve">
					<h6 class="text-content">©2022 Fastkart All rights reserved</h6>
				</div>

				<div class="payment">
					<img src="../assets/images/payment/1.png" class="blur-up lazyload" alt="">
				</div>
			</div>
		</div>
	</footer> *@
	<!-- Footer Section End -->
	<!-- Quick View Modal Box Start -->
	<div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header p-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="row g-sm-4 g-2">
						<div class="col-lg-6">
							<div class="slider-image">
								<img src="../assets/images/product/category/1.jpg" class="img-fluid blur-up lazyload"
									 alt="">
							</div>
						</div>

						<div class="col-lg-6">
							<div class="right-sidebar-modal">
								<h4 class="title-name">Peanut Butter Bite Premium Butter Cookies 600 g</h4>
								<h4 class="price">$36.99</h4>
								<div class="product-rating">
									<ul class="rating">
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star" class="fill"></i>
										</li>
										<li>
											<i data-feather="star"></i>
										</li>
									</ul>
									<span class="ms-2">8 Reviews</span>
									<span class="ms-2 text-danger">6 sold in last 16 hours</span>
								</div>

								<div class="product-detail">
									<h4>Product Details :</h4>
									<p>
										Candy canes sugar plum tart cotton candy chupa chups sugar plum chocolate I love.
										Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
										Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
										muffin I love carrot cake sugar plum dessert bonbon.
									</p>
								</div>

								<ul class="brand-list">
									<li>
										<div class="brand-box">
											<h5>Brand Name:</h5>
											<h6>Black Forest</h6>
										</div>
									</li>

									<li>
										<div class="brand-box">
											<h5>Product Code:</h5>
											<h6>W0690034</h6>
										</div>
									</li>

									<li>
										<div class="brand-box">
											<h5>Product Type:</h5>
											<h6>White Cream Cake</h6>
										</div>
									</li>
								</ul>

								<div class="select-size">
									<h4>Cake Size :</h4>
									<select class="form-select select-form-size">
										<option selected>Select Size</option>
										<option value="1.2">1/2 KG</option>
										<option value="0">1 KG</option>
										<option value="1.5">1/5 KG</option>
										<option value="red">Red Roses</option>
										<option value="pink">With Pink Roses</option>
									</select>
								</div>

								<div class="modal-button">
									<button onclick="location.href = 'cart.html';"
											class="btn btn-md add-cart-button icon">
										Add
										To Cart
									</button>
									<button onclick="location.href = 'product-left.html';"
											class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
										View More Details
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Quick View Modal Box End -->
	<!-- Location Modal Start -->
	<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
					<p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="location-list">
						<div class="search-input">
							<input type="search" class="form-control" placeholder="Search Your Area">
							<i class="fa-solid fa-magnifying-glass"></i>
						</div>

						<div class="disabled-box">
							<h6>Select a Location</h6>
						</div>

						<ul class="location-select custom-height">
							<li>
								<a href="javascript:void(0)">
									<h6>Alabama</h6>
									<span>Min: $130</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Arizona</h6>
									<span>Min: $150</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>California</h6>
									<span>Min: $110</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Colorado</h6>
									<span>Min: $140</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Florida</h6>
									<span>Min: $160</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Georgia</h6>
									<span>Min: $120</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Kansas</h6>
									<span>Min: $170</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Minnesota</h6>
									<span>Min: $120</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>New York</h6>
									<span>Min: $110</span>
								</a>
							</li>

							<li>
								<a href="javascript:void(0)">
									<h6>Washington</h6>
									<span>Min: $130</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Location Modal End -->
	
	<!-- Deal Box Modal Start -->
	<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header">
					<div>
						<h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
						<p class="mt-1 text-content">Recommended deals for you.</p>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="deal-offer-box">
						<ul class="deal-offer-list">
							<li class="list-1">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>

							<li class="list-2">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>

							<li class="list-3">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>

							<li class="list-1">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image">
										<img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
											 alt="">
									</a>

									<a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Deal Box Modal End -->
	
	<!-- Bg overlay Start -->
	<div class="bg-overlay"></div>
	<!-- Bg overlay End -->
	

	<!-- Bootstrap js-->
	<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
	<script src="../assets/js/bootstrap/popper.min.js"></script>

	<!-- feather icon js-->
	<script src="../assets/js/feather/feather.min.js"></script>
	<script src="../assets/js/feather/feather-icon.js"></script>

	<!-- Lazyload Js -->
	<script src="../assets/js/lazysizes.min.js"></script>

	<!-- Slick js-->
	<script src="../assets/js/slick/slick.js"></script>
	<script src="../assets/js/slick/slick-animation.min.js"></script>
	<script src="../assets/js/slick/custom_slick.js"></script>

	<!-- Auto Height Js -->
	<script src="../assets/js/auto-height.js"></script>

	<!-- Fly Cart Js -->
	<script src="../assets/js/fly-cart.js"></script>

	<!-- Quantity js -->
	<script src="../assets/js/quantity-2.js"></script>

	<!-- WOW js -->
	<script src="../assets/js/wow.min.js"></script>
	<script src="../assets/js/custom-wow.js"></script>

	<!-- script js -->
	<script src="../assets/js/script.js"></script>

	<!-- thme setting js -->
	<script src="../assets/js/theme-setting.js"></script>
    <!-- Range slidder js -->
	<script src="../assets/js/ion.rangeSlider.min.js"></script>
@* </body>
</html> *@
<!-- Shop Section End -->
