@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LocalDropshipping.Web.Dtos;
@model List<ProfilesDto>
@{
    Layout = "_LayoutSellerDashboard";
}


<div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
     aria-labelledby="pills-profile-tab">
    <div class="dashboard-profile">
        <div class="title">
            <h2>Profile</h2>
            <span class="title-leaf">
                <svg class="icon-width bg-gray">
                    <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use>
                </svg>
            </span>
        </div>

        <div class="profile-tab dashboard-bg-box">
            <div class="dashboard-title dashboard-flex">
                <h3>Profile</h3>

            </div>
            <ul>
                @foreach (var profile in Model)
                {
                    <li>
                        <h5>Store Name :</h5>
                        <h5>@profile.StoreName</h5>
                    </li>
                    <li>
                        <h5>Store URL:</h5>
                        <h5>@profile.StoreURL</h5>
                    </li>
                    <li>
                        <h5>Bank Name:</h5>
                        <h5>@profile.BankName</h5>
                    </li>
                    <li>
                        <h5>Bank Account Title:</h5>
                        <h5>@profile.BankAccountTitle</h5>
                    </li>
                    <li>
                        <h5>Bank Account Number / IBAN:</h5>
                        <h5>@profile.BankAccountNumberOrIBAN</h5>
                    </li>
                    <li>
                        <h5>Branch Address:</h5>
                        <h5>@profile.BankBranch</h5>
                    </li>
                    <li>
                        <h5>Address:</h5>
                        <h5>@profile.Address</h5>
                    </li>
                    <li>
                        <h5>ImageLink:</h5>
                        @if (!string.IsNullOrEmpty(profile.ImageLink))
                        {
                            <img src="@profile.ImageLink" alt="Profile Image" />
                        }
                        @* <h5>@profile.ImageLink</h5> *@
                    </li>
                }
            </ul>
        </div>
    </div>


</div>

<br />

<div class="profile-tab dashboard-bg-box">
    <div class="dashboard-title dashboard-flex">
        @* <h4>Upload Image</h4> *@
        <form asp-action="Profile" asp-controller="Seller" method="post" enctype="multipart/form-data">
            @*  <label for="formFileMultiple" class="form-label"></label>
            <input class="form-control form-choose" type="file" accept="image/*" name="profileImage">
            <button class="btn btn-animation w-50 justify-content-center" type="submit">
            Upload
            </button> *@
            <div class="row">
                <div class="mb-4 row align-items-center">
                    <label for="formFileMultiple" class="col-sm-3 col-form-label form-label-title">Images</label>
                    <div class="col-sm-9">
                        <input class="form-control form-choose" type="file" accept="image/*"
                               name="profileImage" multiple>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-animation w-20" type="submit">
                            Upload
                        </button>


                    </div>
                </div>

            </div>
            <a style="color:#0DA487" asp-action="UpdateSellerPassword" asp-controller="Seller">Want to change your password?</a>
        </form>

        <br />



    </div>
</div>

