@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<Order>>;
@{
    ViewBag.Title = "FOCFulFillment - Seller Orders";

    Layout = "_LayoutSellerDashboard";
}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>
<body>

    <div class="tab-pane fade active show" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
        <div class="dashboard-order">
            <div class="title">
                <h2>My Orders</h2>
                <span class="title-leaf title-leaf-gray">
                    <svg class="icon-width bg-gray">
                        <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use>
                    </svg>
                </span>
            </div>

            <div class="order-tab dashboard-bg-box">
                <div class="table-responsive">
                    <table class="table order-table">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Data)
                            {
                                <tr>
                                    <td>@order.Id</td>
                                    <td>@order.CreatedDate</td>
                                    <td>
                                        @if (order.OrderStatus == LocalDropshipping.Web.Enums.OrderStatus.Delivered)
                                        {
                                            <label class="success">@order.OrderStatus</label>
                                        }
                                        else
                                        {
                                            <label class="danger">@order.OrderStatus</label>
                                        }
                                    </td>
                                    <td>Rs.@order.GrandTotal.ToString("N0")/-</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                <nav aria-label="Page navigation" class="custome-pagination">
                    <ul class="pagination justify-content-center">
                        @if (Model.pageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                        {
                            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize">@i</a>
                            </li>
                        }

                        @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <script>
        var orderNameElements = document.querySelectorAll("#orderName");

        orderNameElements.forEach(function (element) {
            if (element.textContent.trim() === "") {
                element.textContent = "<No Product Name>";
            }
        });
    </script>
</body>