@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@using LocalDropshipping.Web.Models;

@model PageResponse<List<WithdrawalModel>>;
@{
    ViewBag.Title = "FOC Fulfillment - Withdrawals";
    Layout = "_LayoutSellerDashboard";
}
<body>
    
    <div class="tab-pane fade active show" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
        <div class="dashboard-order">
            <div class="title d-flex justify-content-between align-items-center">
                <h2>All Withdrawals</h2>
                <div>
                    <a asp-action="WithdrawalRequest" asp-controller="Seller">
                        <button class="btn request-btn">
                            Withdrawal Request
                        </button>
                    </a>
                </div>
            </div>
            <div class="order-tab dashboard-bg-box">
                <div class="table-responsive">
                    <table class="table order-table">
                        <thead>
                            <tr>
                                <th scope="col">TransactionId</th>
                                <th scope="col">AmountInPkr</th>
                                <th scope="col">PaymentStatus</th>
                                <th scope="col">RequestDate</th>
                                <th scope="col">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var withdrawal in Model.Data)
                            {
                                <tr>
                                    <td>@withdrawal.TransactionId</td>
                                    <td>Rs.@withdrawal.AmountInPkr.ToString("N0")/-</td>
                                    <td>@withdrawal.PaymentStatus</td>
                                    <td>@withdrawal.RequestDate</td>
                                    <td>@withdrawal.Reason</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation" class="custome-pagination">
                    <ul class="pagination justify-content-center">
                        @if (Model.pageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                        {
                            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize">@i</a>
                            </li>
                        }

                        @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
@*
                <nav class="custome-pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>*@
            </div>
        </div>
    </div>

</body>

<style>
    .request-btn {
    background-color: #0DA487;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500
    }
    .request-btn:hover {
    background-color: #0DA487;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500
    }
</style> 