@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<Order>>;
@{
    ViewBag.Title = "FOCFulFillment - Orders List";

    Layout = "_LayoutDashboard";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>Order List</h5>
                            <a href="#" class="btn btn-solid">Download all orders</a>
                        </div>
                        <div class="table-responsive dataTables_wrapper">
                            <div id="table_id_filter" class="dataTables_filter">
                                <form asp-controller="Admin" asp-action="OrdersList" method="get">
                                    <label style="display:flex; justify-content:end; align-items:center">
                                        Search:
                                        <input type="search" name="SearchString" class="" placeholder="">
                                        <button class="btn btn-solid" style="padding: 7px 24px;" type="submit" id="button-addon2">
                                            <i style="color:white" data-feather="search"></i>
                                        </button>
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
                                <table class="table all-package order-table theme-table dataTable no-footer" id="table_id">
                                    <thead>
                                        <tr>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Order Id</th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Order Tracking Id</th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                                                @Html.ActionLink("Order Date", "OrdersList","Admin", new { sortOrder =  ViewBag.DateSortParm, searchString=ViewBag.CurrentFilter })
                                                <i class="fas fa-sort"></i>
                                            </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Delivery Status</th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Courier Service</th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                                                @Html.ActionLink("Price", "OrdersList","Admin", new { sortOrder = ViewBag.PriceSortParm, searchString=ViewBag.CurrentFilter })
                                                <i class="fas fa-sort"></i>
                                            </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Sell Price</th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 180.938px;">Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var order in Model.Data)
                                        {
                                            <tr data-bs-toggle="offcanvas" href="#order-details" class="odd">
                                                <td>@order.Id</td>
                                                <td>@order.OrderTrackingId</td>
                                                <td>@order.CreatedDate.ToString("MMM dd yyyy")</td>
                                                @if (order.OrderStatus == LocalDropshipping.Web.Enums.OrderStatus.Delivered)
                                                {
                                                    <td class="order-success">
                                                        <span >@order.OrderStatus</span> 
                                                    </td>
                                                }
                                                else 
                                                {
                                                    <td class="order-cancle">
                                                        <span>@order.OrderStatus</span>
                                                    </td>
                                                }
                                                <td>@order.CourierServiceType</td>
                                                <td>Rs.@order.GrandTotal.ToString("N0")/-</td>
                                                <td>Rs.@order.SellPrice.ToString("N0")/-</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="order-detail.html">
                                                                <i class="ri-eye-line" style="color:#0DA487"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="ri-pencil-line" style="color:#0DA487"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#editPopup"
                                                                   data-order-id="@order.Id"
                                                                   onclick="openPopup(this)">
                                                                </i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                                                                <i class="ri-delete-bin-line"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="editPopup" class="modal" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header p-b-25">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                                                </button>
                                            </div>
                                            <form id="orderForm" method="post" asp-action="OrdersList" asp-controller="Admin">
                                                <div class="modal-body">
                                                    <input type="hidden" name="OrderId" id="OrderIdHidden" />
                                                    <div class="deal-offer-box">
                                                        <div class="form-group">
                                                            <label for="OrderId">Order Id:</label>
                                                            <input type="number" name="OrderId" class="form-control" disabled id="OrderId" placeholder="Order Id">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="OrderStatus">Order Status:</label>
                                                            <select class="form-select form-control" name="OrderStatus" id="OrderStatus">
                                                                <option value="Pending">Pending</option>
                                                                <option value="InProcess">InProcess</option>
                                                                <option value="Delivered">Delivered</option>
                                                                <option value="Cancelled">Cancelled</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="CourierServiceType">Courier Service:</label>
                                                            <select class="form-select form-control" name="CourierServiceType" id="CourierServiceType">
                                                                <option value="Leopard">Leopard</option>
                                                                <option value="Trax">Trax</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="OrderTrackingId">Order Tracking Id:</label>
                                                            <input type="number" name="OrderTrackingId" class="form-control" id="OrderTrackingId" placeholder="Order Tracking Id">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Reason">Special Instructions:</label>
                                                            <textarea class="form-control" name="SpecialInstructions" id="SpecialInstructions" rows="4" placeholder="Special Instructions"></textarea>
                                                        </div>
                                                        <br />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                                                        <button type="submit" class="btn btn-solid text-white" onclick="closePopup()">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <nav aria-label="Page navigation" class="custome-pagination mt-3">
                               <ul class="pagination justify-content-center">
                                    @if (Model.pageNumber > 1)
                                    {
                                <li class="page-item">
                                            <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>
                                    }

                                    @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                    {
                                <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                            <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                </li>
                                    }

                                    @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                    {
                                <li class="page-item">
                                            <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                                    }
                               </ul>
                             </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    function openPopup(button) {
        var OrderId = button.getAttribute('data-order-id');

        document.getElementById('OrderIdHidden').value = OrderId;
        document.getElementById('OrderId').value = OrderId;

        document.getElementById('editPopup').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('editPopup').style.display = 'none';
    }

    function confirmPayment() {
        closePopup();
    }
    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i><strong>Loading</strong> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 4000,
            showProgressbar: true,
            timer: 300,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }
</script>

