@using LocalDropshipping.Web.Data.Entities;
@model List<Product>;
@{
    Layout = "_LayoutDashboard";

}
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title d-sm-flex d-block">
                            <h5>Products List</h5>
                            <div class="right-options">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">import</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Export</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-solid" asp-controller="Admin" asp-action="AddUpdateProduct">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive">
                                <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
                                    <div id="table_id_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="table_id"></label></div><table class="table all-package theme-table table-product dataTable no-footer" id="table_id">
                                        <thead>
                                            <tr>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Product Image</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Product Name</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Category</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Current Qty</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Price</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var product in Model)
                                            {
                                                <tr>
                                                    <td><img style="width: 150px;" src="@product.Variants.First().FeatureImageLink" alt="Image of product @product.Name" /></td>
                                                    <td>@product.Name</td>
                                                    <td style="color:black;">@product.Category!.Name</td>
                                                    <td>@product.Variants.First().Quantity</td>
                                                    <td>@product.Variants.First().VariantPrice</td>

                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a asp-controller="Admin" asp-action="Product" asp-route-id="@product.ProductId">
                                                                    <i class="ri-eye-line"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a asp-controller="Admin" asp-action="AddUpdateProduct" asp-route-id="@product.ProductId">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.ProductId">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/backend-assets/js/notify/index.js"></script>
@section script{
    <script>
        var notifyMessage = '@TempData["Message"]';
        if (notifyMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i><strong>Loading</strong> ' + notifyMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 4000,
                showProgressbar: true,
                timer: 300,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("Message")';
        }




        var notifyaddMessages = '@TempData["ProductAdded"]';
        if (notifyaddMessages) {
            var notify = $.notify('<i class="fas fa-bell"></i><strong>Loading</strong> ' + notifyaddMessages, {
                type: 'theme',
                allow_dismiss: true,
                delay: 4000,
                showProgressbar: true,
                timer: 300,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("added")';
        }

        var notifyupdateMessages = '@TempData["updated"]';
        if (notifyupdateMessages) {
            var notify = $.notify('<i class="fas fa-bell"></i><strong>Loading</strong> ' + notifyupdateMessages, {
                type: 'theme',
                allow_dismiss: true,
                delay: 4000,
                showProgressbar: true,
                timer: 300,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("updated")';
        }
    </script>
}





